.RData
*.out
*.err
*.Rout
scratch/*
scratch_2023/*
scratch_2024/*
sandbox/scratch/*
final_results/*.png
final_results/*.pdf
final_results/*.rtf
final_results/Manhattan_plots/*
final_results/figures/*
final_results/poster/*
.Rproj.user
input_data/AMP_*
